*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.navbar
{
    
   margin-top: 5px;
  
    width: 100%;
  
height: 70px;
background-color: rgb(228, 241, 241);

}
.navbar .container
{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logos
{
width: 60px;
height: 60px;
margin-bottom: 10px;
border-radius: 6px;

}

nav{
    display: flex;

}
nav ul
{
    display: flex;
    margin-right: 10px;

}
nav ul li
{
    list-style: none;

}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    color: orange;
}
nav ul li a:hover
{
    color: red;
    text-decoration: underline;
}
.main
{
    margin: 20px 50px;
    
    background-image:url(img/back1.jpg);
    background-size: cover;
 width:1400px;
 height:600px ;
 

}

.context
{
    font-size: 25px;
    display: flex;
 margin-left: 750px;

  
}
.para
{
    
    padding-top: 120px;
    padding-left: 50px;
}

button:hover
{
    
    text-decoration: underline;
    
}
.about
{
    
    width: auto;
    height: auto;
  padding-left: 120px;
    
}
.box1
{
    width: 300px;
    height: auto;
    
    box-shadow: 2px 2px 5px ;
   
}
.box2
{
    width: 300px;
    height: auto;
    
    box-shadow: 2px 2px 5px ;
   
}
.box3
{
    width: 300px;
    height: auto;

    box-shadow: 2px 2px 5px ;
    

   
}

.intro
{
    width: auto;
    height: auto;
   
    margin: 20px 20px;
    padding: 20px 20px;
}
.img1
{
    width: 300px;
    


}
.img2
{
    width: 300px;
    


}
.img3
{
    width: 300px;
    height: 165px;
   

}

.img4
{
    border-radius: 200px;
    
    width: 600px;
    height: 500px;
}
.paragraph
{
    padding: 50px 20px;
}
.footer
{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    color: white;
    text-align: center;
}
